html { font-family: monospace; background: #eee; padding: 1rem; }
body { max-width: 80%; margin: 0 auto; background: white; }
h1 { font-family: monospace; color: #377ba8; margin: 1rem 0; }
h2 { color: #377ba8; }
h3 { color: #377ba8; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; margin: 0px;}
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

.body {
    display: flex;
}

.moves-container-view {
    font-family: monospace;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 636px;
    font-size: 14px;
}

.piece-417db:hover {
    cursor: pointer;
}

.moves-container {
    overflow: hidden;
}

.moves-line {
    display: flex;
}

span.move:hover, .played-move:hover {
    cursor: pointer;
}

span.move.selected, .played-selected {
    background-color: rgb(187,204,68);
    border-radius: 2px;
    /* border-bottom-style: solid;
    border-color: rgb(221, 221, 40); */
    /* border-width: 0 0 2px 0; */
}

.captured {
    /* padding: 10; */
    width: 25px;
}

.material-dif {
    font-size: 20px;
}

.board, .board-width, .board-container {
    width: 700px;
}

.board-container {
    padding-left: 0px;
}

.captured-opp, .captured-own, .empty-row {
    height: 30px;
}

.button-spacer {
    height: 15px;
}

.move-list-container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 636px;
    font-size: 2rem;
}

.container {
    margin: 50px;
}

.white-1e1d7 {
    background-color: rgb(233,237,204);
}

.black-3c85d {
    background-color: rgb(119,153,84);
}

.highlight-light {
    background-color: rgb(244,246,128);
}

.highlight-dark {
    background-color: rgb(187,204,68);
}

.highlight-right-click-light {
    background-color: rgb(235,125,105);
}

.highlight-right-click-dark {
    background-color: rgb(212,109,81);
}

.container {
    padding: 0 1rem 1rem;
    margin: 0px;
    max-width: 100%;
}

.content-row {
    max-width: 100%;
}

#keepPlayingBtn {
    display: none;
}

.eval-col {
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
    padding: 0 10px;
}

#evalBar {
    width: 20px;
    height: 674.17px;
    background-color: rgb(255,255,255);
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3px;
}
  
#evalBar::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.7) inset;
    border-radius: 3px;
}

#evalBar .blackBar {
    width: 100%;
    background-color: #403d39;
    transition: height 1s;
    position: absolute;
    top: 0;
    border-radius: 3px;
}

.zero {
    width: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    height: 50%;
}

.evalNum {
    width: 100%;
    opacity: 1;
    position: absolute;
    font-size: .6rem;
    font-weight: bolder;
    text-align: center;
    height: 2%;
}

.evalNumOwn {
    top: 98%;
}

.evalNumOpp {
    top: 0.1%;
    z-index: 1;
}

.eval-pop-up {
    visibility: hidden;
    width: 50px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

#evalBar:hover .eval-pop-up {
    visibility: visible;
}

.promotionOption {
    border-radius: 50%;
    background-color: darkgray;
    transition: transform 0.2s;
    position: absolute;
    z-index: 1000;
}

.promotionOption:hover {
    cursor: pointer;
    border-radius: 0%;
    background-color: rgb(187,204,68);
    width: 100%;
}