{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Your Chess.com Openings{% endblock %}</h1>
  {% if g.user %}
  {% endif %}
{% endblock %}

{% block content %}
  {% for opening in openings.values() %}
    <article class="opening">
      <header>
        <div>
          <h1>{{ opening['name'] }}</h1>
        </div>
          <a class="action" href="{{ url_for('openings.view', name=opening['name']) }}">View</a>
          <a class="action" href="{{ url_for('openings.practice', name=opening['name']) }}">Practice</a>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}